<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Resistance</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <style>
            body {
                font-family: monospace;
                max-width: 100%;
                margin: 0 auto;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #f0f0f0;
            }
            h1, h2, h3 {
                text-align: center;
            }
            .player {
                margin: 10px;
                padding: 10px;
                border: 1px solid #ccc;
                cursor: pointer;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            .players-role-revealed {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                max-width: 600px;
                line-height: 1.6;
                font-size: 1em
            }
            .player.selected {
                background-color: #e0e0e0;
            }
            .checkboxes-container {
                display: flex;
                flex-direction: column;
                align-items: left;
            }
            .mission-results-container {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                flex-wrap: wrap;
            }
            .mission {
                display: flex;
                width: 80px;
                height: 80px;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 16px;
                margin: 5px;
                border-radius: 5px;
            }
            .mission-pending {
                background-color: lightgray;
            }
            .mission-fail {
                background-color: tomato; 
            }
            .mission-pass {
                background-color: lightgreen;
            }
            .mission-result-boxes {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            .box {
                width: 40px;
                height: 40px;
                margin: 5px 0;
                border-radius: 5px;
            }
            .blue {
                background-color: lightgreen;
            }
            .red {
                background-color: tomato;
            }
            .button-container {
                display: flex;
                flex-direction: column;
                gap: 2px;
                justify-content: center;
                width: 100%;
            }
            button {
                margin: 10px;
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                background-color: #6c757d; /* Neutral color */
                color: white;
                cursor: pointer;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            button:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
            .role-reveal {
                text-align: center;
                font-size: 24px;
                margin: 20px 0;
            }
            .input-group {
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            input[type="number"], input[type="text"] {
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-top: 5px;
            }
            label {
                font-size: 16px;
                margin-bottom: 5px;
            }
            @media (max-width: 600px) {
                .mission {
                    width: 60px;
                    height: 60px;
                    font-size: 14px;
                }
                .box {
                    width: 30px;
                    height: 30px;
                }
                button {
                    padding: 8px 16px;
                    font-size: 14px;
                }
                input[type="number"], input[type="text"] {
                    padding: 8px;
                    font-size: 14px;
                }
            }
        </style>
    </head>
    <body>
        <div id="app">
            <h1>The Resistance</h1>

            <div v-if="gamePhase === 'setup'">
                <h2>Game Setup</h2>
                <label
                    >Number of Players:
                    <input
                        v-model.number="playerCount"
                        type="number"
                        min="5"
                        max="10"
                        @change="generatePlayerInputs"
                    />
                </label>
                <div
                    v-for="(player, index) in players"
                    :key="index"
                    class="input-group"
                >
                    <label
                        >Player {{ index + 1 }} Name:
                        <input
                            v-model="player.name"
                            type="text"
                            :placeholder="'Player ' + (index + 1)"
                        />
                    </label>
                </div>
                <!-- special roles: merlin, mordred, lovers, checkboxes -->
                <div class="checkboxes-container">
                    <label>
                        <input type="checkbox" v-model="merlin" />
                        Merlin, Percival, Morgana
                    </label>
                    <label>
                        <input type="checkbox" v-model="mordred" />
                        Mordred
                    </label>
                    <label>
                        <input type="checkbox" v-model="lovers" />
                        Lovers
                    </label>
                    <label>
                        <input type="checkbox" v-model="oberon" />
                        Oberon
                    </label>
                </div>

                <div class="button-container">
                    <button @click="startRoleReveal" :disabled="!allPlayersNamed">
                    Start Role Reveal
                </button>
                </div>
            </div>

            <div v-if="gamePhase === 'role-reveal'">
                <div class="role-reveal">
                    <h2>
                        {{ currentPlayer.name }}
                    </h2>
                    <p v-if="!roleRevealed">
                        Click the button when you're ready to see your role
                    </p>
                    <p v-if="roleRevealed" v-html="roleHint"></p>

                <div class="button-container">
                    <button v-if="!roleRevealed" @click="revealRole">
                        Reveal Role
                    </button>
                    <button v-if="roleRevealed" @click="nextPlayer">
                        I've seen my role (Pass to next player)
                    </button>
                </div>
                </div>
            </div>

            <div v-if="gamePhase === 'team-selection'">
                <h2>Mission {{ currentRound }}</h2>
                <h3>Leader: <strong>{{ players[currentLeader].name }}</strong>. Select <strong>{{ missionSizes[currentRound-1]}}</strong>:</h3>
                <div class="players">
                    <div
                        v-for="(player, index) in players"
                        :key="index"
                        class="player"
                        :class="{ selected: missionPlayers.includes(index) }"
                        @click="togglePlayerSelection(index)"
                    >
                        {{ player.name }}
                    </div>
                </div>
                <div class="button-container">
                <button
                    @click="proposeTeam"
                    :disabled="missionPlayers.length !== missionSizes[currentRound - 1]"
                >
                    Propose Team
                </button>
            </div>
            </div>

            <div v-if="gamePhase === 'team-voting'">
                <h2>Vote on Proposed Team</h2>
                <p>
                    Proposed Team: {{ missionPlayers.map(i =>
                    players[i].name).join(', ') }}
                </p>
                <div class="button-container">
                <button @click="voteForTeam(true)">Approve</button>
                <button @click="voteForTeam(false)">Reject</button>
            </div>
            </div>

            <div v-if="gamePhase === 'mission'">
                <h2>Mission {{ currentRound }}</h2>
                <p>
                    Team: {{ missionPlayers.map(i => players[i].name).join(', ')
                    }}
                </p>
                <h2>
                    {{ players[missionPlayers[currentMissionPlayerIndex]].name }}, It's your turn:
                </h2>
                <div class="button-container">
                <button @click="missionVote(currentMissionPlayer, true)">
                    Pass
                </button>
                <button @click="missionVote(currentMissionPlayer, false)">Fail</button>
            </div>
            </div>

            <div v-if="gamePhase === 'mission-revealing'">
                <div class="button-container">
                <button @click="revealMissionResults()">
                    Reveal Results
                </button>
            </div>
            </div>
            <div v-if="gamePhase === 'mission-revealed'">
                <div class="mission-result-boxes">
                    <div
                        v-for="(box, index) in boxes"
                        :key="index"
                        :class="box.color"
                        class="box"
                    >
                    </div>
                </div>
                <div class="button-container">
                <button @click="doneViewingMissionResults()">
                    Done!
                </button>
                </div>
            </div>

            <div v-if="gamePhase === 'choose-merlin'">
                <h3>Assassin, choose Merlin:</h3>
                <div class="players">
                    <div
                        v-for="(player, index) in players"
                        v-if="player.role === 'Good Guy'"
                        :key="index"
                        class="player"
                        :class="{ selected: index === chosenMerlin }"
                        @click="toggleMerlinSelection(index)"
                    >
                        {{ player.name }}
                    </div>
                </div>
                <div class="button-container">
                    <button
                        @click="proposeMerlinSelection"
                        :disabled="chosenMerlin === -1"
                    >
                        Propose Merlin
                    </button>
                    <button
                        v-if="lovers"
                        @click="toggleEndGameChoosing"
                    >
                        Choose Lovers instead
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'choose-lovers'">
                <h3>Assassin, choose Lovers:</h3>
                <div class="players">
                    <div
                        v-for="(player, index) in players"
                        v-if="player.role === 'Good Guy'"
                        :key="index"
                        class="player"
                        :class="{ selected: chosenLovers.includes(index) }"
                        @click="toggleLoversSelection(index)"
                    >
                        {{ player.name }}
                    </div>
                </div>
                <div class="button-container">
                    <button
                        @click="proposeLoversSelection"
                        :disabled="chosenLovers.length !== 2"
                    >
                        Propose Lovers
                    </button>
                    <button
                        @click="toggleEndGameChoosing"
                    >
                        Choose Merlin instead
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'game-over'">
                <h1>{{ gameResult }}</h1>
                <!-- display all roles -->
                <div class="players-role-revealed">
                    <div
                        v-for="(player, index) in players"
                    >
                        {{ player.name}}: {{player.role}} {{player.speciality}}
                    </div>
                </div>
                
                <div class="button-container">
                <button @click="resetGame">Play Again</button>
                </div>
            </div>

            <div class="mission-results" v-if="gamePhase === 'team-selection'">
                <h3>Mission Results:</h3>
                <div class="mission-results-container">
                    <div
                        v-for="(result, index) in missionResults"
                        :key="index"
                        :class="{
                            'mission-pending': result === null,
                            'mission-fail': result === false,
                            'mission-pass': result === true,
                        }"
                        class="mission"
                    >
                        <div v-if="result !== null">
                            <strong>{{ pastMissionVotes[index].success }}/{{missionSizes[index]}} {{ ((index === 3) && forthSpecialRound) ? "*" : ""}}</strong>
                        </div>
                        <div v-else>
                            <strong>{{missionSizes[index]}}{{ ((index === 3) && forthSpecialRound) ? "*" : ""}}</strong>
                        </div>
                    </div>
                </div>
                <h3>Consecutive Rejections: {{ consecutiveRejections }} / {{ maxConsecutiveRejections }}</h3>
            </div>
        </div>

        <script>
            new Vue({
                el: "#app",
                data: {
                    gamePhase: "setup",
                    playerCount: 5,
                    spiesCount: 2,
                    merlin: false,
                    mordred: false,
                    lovers: false,
                    oberon: false,
                    forthSpecialRound: false,
                    players: [], // {name: "player", role: "Spy", subrole: "Merlin"}
                    roleHint: "",
                    currentPlayerIndex: 0,
                    roleRevealed: false,
                    currentLeader: 0,
                    currentRound: 1,
                    consecutiveRejections: 0,
                    maxConsecutiveRejections: 5,
                    missionSizes: [2, 3, 2, 3, 3], // for 5 players
                    missionResults: [null, null, null, null, null],
                    missionPlayers: [], // current mission players
                    currentMissionPlayerIndex: 0,
                    pastMissionPlayers: [],
                    missionActionDone: false,
                    gameResult: "",
                    missionVotes: {
                        success: 0,
                        fail: 0,
                    },
                    pastMissionVotes: [],
                    // end game choosing
                    chosenLovers: [],
                    chosenMerlin: -1,
                },
                computed: {
                    allPlayersNamed() {
                        let all_names_present = this.players.every(
                            (player) => player.name.trim() !== "",
                        );
                        // return all_names_present;
                        // check if there is enough player for merlin mordred lovers
                        let enough_roles = true;
                        let special_spies = 0;
                        let special_good = 0;
                        if (this.mordred) {
                            special_spies++;
                        };
                        if (this.merlin) {
                            special_spies++;
                            special_spies++;
                            special_good++;
                            special_good++;
                        };
                        if (this.oberon) {
                            special_spies++;
                        };
                        if (this.lovers) {
                            special_good++;
                            special_good++;
                        }
                        if (special_spies > this.spiesCount) {
                            enough_roles = false;
                        };
                        if (special_good > this.playerCount - this.spiesCount) {
                            enough_roles = false;
                        };
                        return all_names_present && enough_roles;
                    },
                    currentPlayer() {
                        return this.players[this.currentPlayerIndex];
                    },
                    currentMissionPlayer() {
                        return this.missionPlayers[
                            this.currentMissionPlayerIndex
                        ];
                    },
                    boxes() {
                        const blueBoxes = Array(this.missionVotes.success).fill({ color: 'blue' });
                        const redBoxes = Array(this.missionVotes.fail).fill({ color: 'red' });
                        return [...redBoxes, ...blueBoxes];
                    },
                },
                methods: {
                    generatePlayerInputs() {
                        // if players not empty don't regenerate
                        if (this.players.length === this.playerCount) {
                            this.players = Array(this.playerCount)
                                .fill()
                                .map((_, i) => ({
                                    name: `${this.players[i].name}`,
                                    role: "",
                                }));
                        } else {
                            this.players = Array(this.playerCount)
                                .fill()
                                .map((_, i) => ({
                                    // TODO: change to blank names when depolying
                                    name: `Player ${i + 1}`,
                                    role: "",
                                }));
                        }
                        this.setMissionSizes();
                    },
                    setMissionSizes() {
                        const num_players = this.players.length;
                        const missionSizes = {
                            5: [2, 3, 2, 3, 3] ,
                            6: [2, 3, 4, 3, 4] ,
                            7: [2, 3, 3, 4, 4] ,
                            8: [3, 4, 4, 5, 5] ,
                            9: [3, 4, 4, 5, 5] ,
                            10: [3, 4, 4, 5, 5],
                        };
                        this.missionSizes = missionSizes[num_players];
                        const spiesCount = {
                            5: 2,
                            6: 2, 
                            7: 3,
                            8: 3,
                            9: 3,
                            10: 4,
                        };
                        this.spiesCount = spiesCount[num_players];
                        this.playerCount = num_players;

                        const specialRounds = {
                            5: false,
                            6: false,
                            7: true,
                            8: true,
                            9: true,
                            10:true,
                        }
                        this.forthSpecialRound = specialRounds[num_players];
                    },
                    startRoleReveal() {
                        let spyCount = this.spiesCount;
                        let goodGuyCount = this.playerCount - spyCount;

                        let roles = [];
                        if (this.merlin ) {
                            spyCount--;
                            spyCount--;
                            goodGuyCount--;
                            goodGuyCount--;
                            roles.push({"role": "Spy", "speciality": "Morgana"});
                            roles.push({"role": "Spy", "speciality": "Assassin"});

                            roles.push({"role": "Good Guy", "speciality": "Merlin"});
                            roles.push({"role": "Good Guy", "speciality": "Percival"});
                        };
                        if (this.mordred) {
                            spyCount--;
                            roles.push({"role": "Spy", "speciality": "Mordred"});
                        };
                        if (this.lovers ){
                            goodGuyCount--;
                            goodGuyCount--;
                            roles.push({"role": "Good Guy", "speciality": "Lover"});
                            roles.push({"role": "Good Guy", "speciality": "Lover"});
                        };
                        if (this.oberon){
                            spyCount--;
                            roles.push({"role": "Spy", "speciality": "Oberon"});
                        };

                        // ordinary bad, ordinary good
                        for (let i = 0; i < spyCount; i++) {
                            roles.push({"role": "Spy", "speciality": ""});
                        };
                        for (let i = 0; i < goodGuyCount; i++) {
                            roles.push({"role": "Good Guy", "speciality": ""});
                        };

                        // shuffle
                        for (let i = roles.length - 1; i > 0; i--) {
                            const j = Math.floor(Math.random() * (i + 1));
                            [roles[i], roles[j]] = [roles[j], roles[i]];
                        };

                        this.players.forEach(
                            (player, index) => {
                                player.role = roles[index].role; 
                                player.speciality=roles[index].speciality 
                            }
                        );
                        this.gamePhase = "role-reveal";
                        this.currentPlayerIndex = 0;
                        this.roleRevealed = false;
                    },
                    revealRole() {
                        this.roleRevealed = true;
                        this.otherRoles();
                    },
                    otherRoles(){
                        let isSpy = this.currentPlayer.role === "Spy";
                        let otherSpies = this.players.filter(player => player.role === "Spy" && player !== this.currentPlayer && player.speciality !== "Oberon");
                        let visibleSpies = this.players.filter(player => player.role === "Spy" && player !== this.currentPlayer && (player.speciality !== "Mordred" || player.speciality !== "Oberon"));
                        let merlinAndMorgana = this.players.filter(player => player.speciality === "Merlin" || player.speciality === "Morgana");
                        let otherLover = this.players.filter(player => player.speciality === "Lover" && player !== this.currentPlayer);
                        let displayRole = this.currentPlayer.speciality === "" ? this.currentPlayer.role : this.currentPlayer.speciality;
                        let roleHint = "Your role is: <strong>" + displayRole + "</strong>";

                        let secondaryHint = ""
                        if (this.currentPlayer.speciality === "Lover") {
                            secondaryHint = "<br>Other lover is: <strong>" + otherLover[0].name + "</strong>";
                        }  
                        if (this.currentPlayer.speciality === "Merlin") {
                            secondaryHint = "<br>Spies are: <strong>" + visibleSpies.map(player => player.name).join(", ") + "</strong>";
                        }  
                        if (this.currentPlayer.speciality === "Percival") {
                            secondaryHint = "<br>Merlin and Morgana are: <strong>" + merlinAndMorgana.map(player => player.name).join(", ") + "</strong>";
                        }
                        if (this.currentPlayer.role == "Spy") {
                            secondaryHint = "<br>Other Spies are: <strong>" + otherSpies.map(player => player.name).join(", ") + "</strong>";
                        }

                        this.roleHint = roleHint + secondaryHint;
                    },
                    nextPlayer() {
                        this.currentPlayerIndex++;
                        this.roleRevealed = false;
                        if (this.currentPlayerIndex >= this.players.length) {
                            this.startGame();
                        }
                    },
                    startGame() {
                        this.gamePhase = "team-selection";
                        this.currentLeader = Math.floor(
                            Math.random() * this.playerCount,
                        );
                    },
                    togglePlayerSelection(index) {
                        if (this.missionPlayers.includes(index)) {
                            this.missionPlayers = this.missionPlayers.filter(
                                (i) => i !== index,
                            );
                        } else if (
                            this.missionPlayers.length <
                            this.missionSizes[this.currentRound - 1]
                        ) {
                            this.missionPlayers.push(index);
                        }
                    },
                    proposeTeam() {
                        this.gamePhase = "team-voting";
                    },
                    voteForTeam(approve) {
                        if (approve) {
                            this.consecutiveRejections = 0;
                            this.gamePhase = "mission";
                            this.missionVotes = { success: 0, fail: 0 };
                        } else {
                            this.consecutiveRejections++;
                            if (this.consecutiveRejections === this.maxConsecutiveRejections) {
                                this.gameOver("Spies win!");
                            } else {
                            this.nextLeader();
                            }
                        }
                    },
                    missionVote(playerIndex, success) {
                        const isSpy = this.players[playerIndex].role === "Spy";
                        const isResistance = !isSpy;
                        success = isResistance ? true : success;
                        if (success) {
                            this.missionVotes.success++;
                        } else {
                            this.missionVotes.fail++;
                        }
                        if (
                            this.missionVotes.success +
                                this.missionVotes.fail ===
                            this.missionPlayers.length
                        ) {
                            this.resolveMission();
                        }
                        else {
                            this.currentMissionPlayerIndex++;
                        }
                    },
                    resolveMission() {
                        this.pastMissionVotes.push(structuredClone(this.missionVotes));

                        let missionSuccess = this.missionVotes.fail === 0;
                        if (this.currentRound === 4 && this.forthSpecialRound ) {
                            missionSuccess = this.missionVotes.fail <= 1;
                        }

                        this.currentMissionPlayerIndex = 0;
                        this.missionResults[this.currentRound - 1] =
                            missionSuccess;
                        if (this.missionResults.filter(Boolean).length === 3) {
                            if (this.merlin) {
                                this.gamePhase = "choose-merlin";
                            }
                            else {
                                this.gameOver("Good guys win!");
                            }
                        } else if (
                            this.missionResults.filter(
                                (result) => result === false,
                            ).length === 3
                        ) {
                            this.gameOver("Spies win!");
                        } else {
                            this.gamePhase = "mission-revealing";
                        }
                    },
                    revealMissionResults() {
                        this.gamePhase = "mission-revealed";
                    },
                    doneViewingMissionResults() {
                        this.nextRound();
                    },
                    nextLeader() {
                        this.currentLeader =
                            (this.currentLeader + 1) % this.playerCount;
                        this.gamePhase = "team-selection";
                        this.pastMissionPlayers.push(
                            this.missionPlayers.slice());
                        this.missionPlayers = [];
                    },
                    nextRound() {
                        this.currentRound++;
                        this.nextLeader();
                    },

                    toggleEndGameChoosing(){
                        if (this.gamePhase === "choose-merlin") {
                            this.gamePhase = "choose-lovers";
                            this.chosenMerlin = -1;
                        } else {
                            this.gamePhase = "choose-merlin";
                            this.chosenLovers = [];
                        }
                    },
                    toggleMerlinSelection(index) {
                        this.chosenMerlin = index;
                    },
                    proposeMerlinSelection() {
                        if (this.players[this.chosenMerlin].speciality !== "Merlin") {
                            this.gameOver("Good guys win! Wrong Merlin chosen");
                        } else {
                            this.gameOver("Spies win! Merlin found");
                        }
                    },
                    toggleLoversSelection(index) {
                        if (this.chosenLovers.includes(index)) {
                            this.chosenLovers = this.chosenLovers.filter(
                                (i) => i !== index,
                            );
                        } else if (
                            this.chosenLovers.length < 2
                        ) {
                            this.chosenLovers.push(index);
                        }
                    },
                    proposeLoversSelection() {
                        correctLoverChosen = this.players[this.chosenLovers[0]].speciality === "Lover" && this.players[this.chosenLovers[1]].speciality === "Lover";
                        if (correctLoverChosen) {
                            this.gameOver("Spies win! Lovers found");
                        }
                        else {
                            this.gameOver("Good guys win! Wrong Lovers chosen");
                        }
                    },
                    gameOver(result) {
                        this.gameResult = result;
                        this.gamePhase = "game-over";
                    },
                    resetGame() {
                        // Object.assign(this.$data, this.$options.data());
                        this.gamePhase = "setup";
                        this.consecutiveRejections = 0;
                        this.currentRound = 1;
                        this.pastMissionPlayers = [];
                        this.pastMissionVotes = [];
                        this.missionResults= [null, null, null, null, null];
                        this.missionPlayers= [];
                        this.currentMissionPlayerIndex= 0;
                        this.missionActionDone = false;
                        this.gameResult = "";
                        this.missionVotes = {success:0, fail: 0};
                        this.chosenMerlin = -1;
                        this.chosenLovers = [];

                        this.generatePlayerInputs();
                    },
                },
                mounted() {
                    this.generatePlayerInputs();
                },
            });
                window.addEventListener('beforeunload', function (e) {
                    // Cancel the event
                    e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
                    // Chrome requires returnValue to be set
                    e.returnValue = '';
                });
        </script>
    </body>
</html>
