<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Resistance</title>
        <link rel="stylesheet" href="styles.css">
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script> -->
        <script type="module" src="./app.js" defer></script>
    </head>
    <body>
        <div id="app">
            <h1>The Resistance</h1>

            <!-- <game-setup v-if="gamePhase === 'setup'" -->
            <!--     :players="players" -->
            <!--     :player-count="playerCount" -->
            <!--     :merlin="merlin" -->
            <!--     :mordred="mordred" -->
            <!--     :lovers="lovers" -->
            <!--     :oberon="oberon" -->
            <!--     :all-players-named="allPlayersNamed" -->
            <!--     @generate-player-inputs="generatePlayerInputs" -->
            <!--     @start-role-reveal="startRoleReveal" -->
            <!--     @update-player-count="playerCount = $event" -->
            <!--     @update-merlin="merlin = $event" -->
            <!--     @update-mordred="mordred = $event" -->
            <!--     @update-lovers="lovers = $event" -->
            <!--     @update-oberon="oberon = $event"> -->
            <!-- </game-setup> -->
            <!---->
            <div v-if="gamePhase === 'setup'">
                <a href="https://github.com/isentropic/resistance-and-avalon" class="corner-badge right" aria-label="View source on GitHub" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 16 16" version="1.1" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                </a>
                <!-- <a href="https://www.buymeacoffee.com/your-profile" class="corner-badge left" aria-label="Buy me a coffee" target="_blank"> -->
                <!-- <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" aria-hidden="true"> -->
                <!-- <path d="M18 8h-1V5H7v3H6c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h1v3h10v-3h1c1.1 0 2-.9 2-2v-6c0-1.1-.9-2-2-2zm-1 10H7v-6h10v6zm-5-4c-1.1 0-2 .9-2 2h4c0-1.1-.9-2-2-2zm-2-4h4v2h-4z"></path> -->
                <!-- </svg> -->
                <!-- </a> -->
                <div>
                    <h2>Game Setup</h2>
                    <label>
                        Number of Players:
                        <!-- <input -->
                        <!--     v-model.number="playerCount" -->
                        <!--     type="number" -->
                        <!--     min="5" -->
                        <!--     max="10" -->
                        <!--     @change="generatePlayerInputs" -->
                        <!-- /> -->
                        <select v-model.number="playerCount" @change="generatePlayerInputs">
                            <option disabled value="">Player count</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </label>
                    <div v-for="(player, index) in players" :key="index" class="input-group">
                        <label>
                            Player {{ index + 1 }} name:
                            <input v-model="player.name" type="text">
                        </label>
                    </div>
                    <!-- Special Roles: Merlin, Mordred, Lovers, Checkboxes -->
                    <div class="checkboxes-container">
                        <label>
                            <input type="checkbox" v-model="merlin" /> Merlin, Percival, Morgana
                        </label>
                        <label>
                            <input type="checkbox" v-model="mordred" /> Mordred
                        </label>
                        <label>
                            <input type="checkbox" v-model="lovers" /> Lovers
                        </label>
                        <label>
                            <input type="checkbox" v-model="oberon" /> Oberon
                        </label>
                    </div>
                    <div class="button-container">
                        <button @click="startRoleReveal" :disabled="!allPlayersNamed">Start Role Reveal</button>
                    </div>
                </div>
            </div>

            <div v-if="gamePhase === 'role-reveal'">
                <div class="role-reveal">
                    <h2>
                        {{ currentPlayer.name }}
                    </h2>
                    <div class="private-role-reveal">
                    <p v-if="!roleRevealed">
                        Click the button when you're ready to see your role
                    </p>
                    <p v-if="roleRevealed" v-html="roleHint"></p>
                    </div>

                <div class="button-container">
                    <button v-if="!roleRevealed" @click="revealRole">
                        Reveal Role
                    </button>
                    <button v-if="roleRevealed" @click="nextPlayer">
                        I've seen my role (Pass to next player)
                    </button>
                </div>
                </div>
            </div>

            <div v-if="gamePhase === 'team-selection'">
                <h2>Mission {{ currentRound }}</h2>
                <h3>Leader: <strong>{{ players[currentLeader].name }}</strong>. Select <strong>{{ missionSizes[currentRound-1]}}</strong>:</h3>
                <div class="players">
                    <div
                        v-for="(player, index) in players"
                        :key="index"
                        class="player"
                        :class="{ selected: missionPlayers.includes(index) }"
                        @click="togglePlayerSelection(index)"
                    >
                        {{ player.name }}
                    </div>
                </div>
                <div class="button-container">
                <button
                    @click="proposeTeam"
                    :disabled="missionPlayers.length !== missionSizes[currentRound - 1]"
                >
                    Propose Team
                </button>
            </div>
            </div>

            <div v-if="gamePhase === 'team-voting'">
                <h2>Vote on Proposed Team</h2>
                <p>
                    Proposed Team: {{ missionPlayers.map(i =>
                    players[i].name).join(', ') }}
                </p>
                <div class="button-container">
                <button @click="voteForTeam(true)">Approve</button>
                <button @click="voteForTeam(false)">Reject</button>
            </div>
            </div>

            <div v-if="gamePhase === 'mission'">
                <h2>Mission {{ currentRound }}</h2>
                <p>
                    Team: {{ missionPlayers.map(i => players[i].name).join(', ')
                    }}
                </p>
                <h2>
                    {{ players[missionPlayers[currentMissionPlayerIndex]].name }}, It's your turn:
                </h2>
                <div class="button-container">
                    <button @click="missionVote(currentMissionPlayer, true)">
                        Pass
                    </button>
                    <button @click="missionVote(currentMissionPlayer, false)">Fail</button>
                </div>
            </div>
            <div v-if="gamePhase === 'pass-to-next-mission-player'">
                <h2>Mission {{ currentRound }}</h2>
                <p>
                    Team: {{ missionPlayers.map(i => players[i].name).join(', ')
                    }}
                </p>
                <h2>
                    Pass the phone to <strong> {{ players[missionPlayers[currentMissionPlayerIndex]].name }} </strong>
                </h2>
                <div class="button-container">
                    <button @click="continueMission()">
                        I am {{ players[missionPlayers[currentMissionPlayerIndex]].name }}
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'mission-revealing'">
                <div class="button-container">
                <button @click="revealMissionResults()">
                    Reveal Results
                </button>
            </div>
            </div>
            <div v-if="gamePhase === 'mission-revealed'">
                <div class="button-container">
                    <button @click="doneViewingMissionResults()" :disabled="!allRevealed">
                        Done!
                    </button>
                </div>
                <div class="mission-result-boxes">
                    <template 
                        v-for="(box, index) in boxes"
                        :key="index"
                    >
                        <div :class="box.color" class="box" v-if="index <
                            visibleCount">
                        </div>
                    </template>
                </div>
            </div>

            <div v-if="gamePhase === 'choose-merlin'">
                <h3>Assassin, choose Merlin:</h3>
                <div class="players">
                    <template 
                        v-for="(player, index) in players"
                        :key="index"
                    >
                        <div
                            v-if="player.role === 'Good Guy'"
                            class="player"
                            :class="{ selected: index === chosenMerlin }"
                            @click="toggleMerlinSelection(index)"
                        >
                            {{ player.name }}
                        </div>
                    </template>
                </div>
                <div class="button-container">
                    <button
                        @click="proposeMerlinSelection"
                        :disabled="chosenMerlin === -1"
                    >
                        Propose Merlin
                    </button>
                    <button
                        v-if="lovers"
                        @click="toggleEndGameChoosing"
                    >
                        Choose Lovers instead
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'choose-lovers'">
                <h3>Assassin, choose Lovers:</h3>
                <div class="players">
                    <template 
                        v-for="(player, index) in players"
                        :key="index"
                    >
                        <div
                            v-if="player.role === 'Good Guy'"
                            class="player"
                            :class="{ selected: chosenLovers.includes(index) }"
                            @click="toggleLoversSelection(index)"
                        >
                            {{ player.name }}
                        </div>
                    </template>
                </div>
                <div class="button-container">
                    <button
                        @click="proposeLoversSelection"
                        :disabled="chosenLovers.length !== 2"
                    >
                        Propose Lovers
                    </button>
                    <button
                        v-if="merlin"
                        @click="toggleEndGameChoosing"
                    >
                        Choose Merlin instead
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'game-over'">
                <h1>{{ gameResult }}</h1>
                <!-- display all roles -->
                <div class="players-role-revealed">
                    <div
                        v-for="(player, index) in players"
                    >
                        {{ player.name}}: {{player.role}} {{player.speciality}}
                    </div>
                </div>
                <div class="button-container">
                <button @click="resetGame">Play Again</button>
                </div>
            </div>

            <div class="mission-results" v-if="gamePhase === 'team-selection'">
                <h3>Mission Results:</h3>
                <div class="mission-results-container">
                    <div
                        v-for="(result, index) in missionResults"
                        :key="index"
                        :class="{
                            'mission-pending': result === null,
                            'mission-fail': result === false,
                            'mission-pass': result === true,
                        }"
                        class="mission"
                    >
                        <div v-if="result !== null">
                            <strong>{{ pastMissionVotes[index].success }}/{{missionSizes[index]}} {{ ((index === 3) && forthSpecialRound) ? "*" : ""}}</strong>
                        </div>
                        <div v-else>
                            <strong>{{missionSizes[index]}}{{ ((index === 3) && forthSpecialRound) ? "*" : ""}}</strong>
                        </div>
                    </div>
                </div>
                <h3>Consecutive Rejections: {{ consecutiveRejections }} / {{ maxConsecutiveRejections }}</h3>
            </div>
        </div>

        <script type="text/x-template" id="game-setup-template">
        <a href="https://github.com/isentropic/resistance-and-avalon" class="corner-badge right" aria-label="View source on GitHub" target="_blank">
        <svg width="24" height="24" viewBox="0 0 16 16" version="1.1" aria-hidden="true">
        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
        </a>
        <!-- <a href="https://www.buymeacoffee.com/your-profile" class="corner-badge left" aria-label="Buy me a coffee" target="_blank"> -->
        <!-- <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" aria-hidden="true"> -->
        <!-- <path d="M18 8h-1V5H7v3H6c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h1v3h10v-3h1c1.1 0 2-.9 2-2v-6c0-1.1-.9-2-2-2zm-1 10H7v-6h10v6zm-5-4c-1.1 0-2 .9-2 2h4c0-1.1-.9-2-2-2zm-2-4h4v2h-4z"></path> -->
        <!-- </svg> -->
        <!-- </a> -->
        <div>
        <h2>Game Setup</h2>
        <label>
        Number of Players:
        <input
        v-model.number="localPlayerCount"
        type="number"
        min="5"
        max="10"
        @change="generatePlayerInputs"
        />
        </label>
        <div v-for="(player, index) in players" :key="index" class="input-group">
        <label>
        Player {{ index + 1 }} Name:
        <input v-model="player.name" type="text" :placeholder="'Player ' + (index + 1)" />
        </label>
        </div>
        <!-- Special Roles: Merlin, Mordred, Lovers, Checkboxes -->
        <div class="checkboxes-container">
        <label>
        <input type="checkbox" v-model="localMerlin" /> Merlin, Percival, Morgana
        </label>
        <label>
        <input type="checkbox" v-model="localMordred" /> Mordred
        </label>
        <label>
        <input type="checkbox" v-model="localLovers" /> Lovers
        </label>
        <label>
        <input type="checkbox" v-model="localOberon" /> Oberon
        </label>
        </div>
        <div class="button-container">
        <button @click="startRoleReveal" :disabled="!allPlayersNamed">Start Role Reveal</button>
        </div>
        </div>
        </script>
    </body>
</html>
