<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Resistance</title>
        <link rel="stylesheet" href="styles.css">
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script> -->
        <script type="module" src="./app.js" defer></script>
    </head>
    <body>
        <div id="app">
            <h1>The Resistance</h1>

            <game-setup v-if="gamePhase === 'setup'"
                :players="players"
                :player-count="playerCount"
                :merlin="merlin"
                :mordred="mordred"
                :lovers="lovers"
                :oberon="oberon"
                :all-players-named="allPlayersNamed"
                @generate-player-inputs="generatePlayerInputs"
                @start-role-reveal="startRoleReveal"
                @update-player-count="playerCount = $event"
                @update-merlin="merlin = $event"
                @update-mordred="mordred = $event"
                @update-lovers="lovers = $event"
                @update-oberon="oberon = $event">
            </game-setup>

            <div v-if="gamePhase === 'role-reveal'">
                <div class="role-reveal">
                    <h2>
                        {{ currentPlayer.name }}
                    </h2>
                    <div class="private-role-reveal">
                    <p v-if="!roleRevealed">
                        Click the button when you're ready to see your role
                    </p>
                    <p v-if="roleRevealed" v-html="roleHint"></p>
                    </div>

                <div class="button-container">
                    <button v-if="!roleRevealed" @click="revealRole">
                        Reveal Role
                    </button>
                    <button v-if="roleRevealed" @click="nextPlayer">
                        I've seen my role (Pass to next player)
                    </button>
                </div>
                </div>
            </div>

            <div v-if="gamePhase === 'team-selection'">
                <h2>Mission {{ currentRound }}</h2>
                <h3>Leader: <strong>{{ players[currentLeader].name }}</strong>. Select <strong>{{ missionSizes[currentRound-1]}}</strong>:</h3>
                <div class="players">
                    <div
                        v-for="(player, index) in players"
                        :key="index"
                        class="player"
                        :class="{ selected: missionPlayers.includes(index) }"
                        @click="togglePlayerSelection(index)"
                    >
                        {{ player.name }}
                    </div>
                </div>
                <div class="button-container">
                <button
                    @click="proposeTeam"
                    :disabled="missionPlayers.length !== missionSizes[currentRound - 1]"
                >
                    Propose Team
                </button>
            </div>
            </div>

            <div v-if="gamePhase === 'team-voting'">
                <h2>Vote on Proposed Team</h2>
                <p>
                    Proposed Team: {{ missionPlayers.map(i =>
                    players[i].name).join(', ') }}
                </p>
                <div class="button-container">
                <button @click="voteForTeam(true)">Approve</button>
                <button @click="voteForTeam(false)">Reject</button>
            </div>
            </div>

            <div v-if="gamePhase === 'mission'">
                <h2>Mission {{ currentRound }}</h2>
                <p>
                    Team: {{ missionPlayers.map(i => players[i].name).join(', ')
                    }}
                </p>
                <h2>
                    {{ players[missionPlayers[currentMissionPlayerIndex]].name }}, It's your turn:
                </h2>
                <div class="button-container">
                <button @click="missionVote(currentMissionPlayer, true)">
                    Pass
                </button>
                <button @click="missionVote(currentMissionPlayer, false)">Fail</button>
            </div>
            </div>

            <div v-if="gamePhase === 'mission-revealing'">
                <div class="button-container">
                <button @click="revealMissionResults()">
                    Reveal Results
                </button>
            </div>
            </div>
            <div v-if="gamePhase === 'mission-revealed'">
                <div class="mission-result-boxes">
                    <div
                        v-for="(box, index) in boxes"
                        :key="index"
                        :class="box.color"
                        class="box"
                    >
                    </div>
                </div>
                <div class="button-container">
                    <button @click="doneViewingMissionResults()">
                        Done!
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'choose-merlin'">
                <h3>Assassin, choose Merlin:</h3>
                <div class="players">
                    <div
                        v-for="(player, index) in players"
                        v-if="player.role === 'Good Guy'"
                        :key="index"
                        class="player"
                        :class="{ selected: index === chosenMerlin }"
                        @click="toggleMerlinSelection(index)"
                    >
                        {{ player.name }}
                    </div>
                </div>
                <div class="button-container">
                    <button
                        @click="proposeMerlinSelection"
                        :disabled="chosenMerlin === -1"
                    >
                        Propose Merlin
                    </button>
                    <button
                        v-if="lovers"
                        @click="toggleEndGameChoosing"
                    >
                        Choose Lovers instead
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'choose-lovers'">
                <h3>Assassin, choose Lovers:</h3>
                <div class="players">
                    <div
                        v-for="(player, index) in players"
                        v-if="player.role === 'Good Guy'"
                        :key="index"
                        class="player"
                        :class="{ selected: chosenLovers.includes(index) }"
                        @click="toggleLoversSelection(index)"
                    >
                        {{ player.name }}
                    </div>
                </div>
                <div class="button-container">
                    <button
                        @click="proposeLoversSelection"
                        :disabled="chosenLovers.length !== 2"
                    >
                        Propose Lovers
                    </button>
                    <button
                        @click="toggleEndGameChoosing"
                    >
                        Choose Merlin instead
                    </button>
                </div>
            </div>

            <div v-if="gamePhase === 'game-over'">
                <h1>{{ gameResult }}</h1>
                <!-- display all roles -->
                <div class="players-role-revealed">
                    <div
                        v-for="(player, index) in players"
                    >
                        {{ player.name}}: {{player.role}} {{player.speciality}}
                    </div>
                </div>
                <div class="button-container">
                <button @click="resetGame">Play Again</button>
                </div>
            </div>

            <div class="mission-results" v-if="gamePhase === 'team-selection'">
                <h3>Mission Results:</h3>
                <div class="mission-results-container">
                    <div
                        v-for="(result, index) in missionResults"
                        :key="index"
                        :class="{
                            'mission-pending': result === null,
                            'mission-fail': result === false,
                            'mission-pass': result === true,
                        }"
                        class="mission"
                    >
                        <div v-if="result !== null">
                            <strong>{{ pastMissionVotes[index].success }}/{{missionSizes[index]}} {{ ((index === 3) && forthSpecialRound) ? "*" : ""}}</strong>
                        </div>
                        <div v-else>
                            <strong>{{missionSizes[index]}}{{ ((index === 3) && forthSpecialRound) ? "*" : ""}}</strong>
                        </div>
                    </div>
                </div>
                <h3>Consecutive Rejections: {{ consecutiveRejections }} / {{ maxConsecutiveRejections }}</h3>
            </div>
        </div>

        <script type="text/x-template" id="game-setup-template">
        <div>
        <h2>Game Setup</h2>
        <label>
        Number of Players:
        <input
        v-model.number="localPlayerCount"
        type="number"
        min="5"
        max="10"
        @change="generatePlayerInputs"
        />
        </label>
        <div v-for="(player, index) in players" :key="index" class="input-group">
        <label>
        Player {{ index + 1 }} Name:
        <input v-model="player.name" type="text" :placeholder="'Player ' + (index + 1)" />
        </label>
        </div>
        <!-- Special Roles: Merlin, Mordred, Lovers, Checkboxes -->
        <div class="checkboxes-container">
        <label>
        <input type="checkbox" v-model="localMerlin" /> Merlin, Percival, Morgana
        </label>
        <label>
        <input type="checkbox" v-model="localMordred" /> Mordred
        </label>
        <label>
        <input type="checkbox" v-model="localLovers" /> Lovers
        </label>
        <label>
        <input type="checkbox" v-model="localOberon" /> Oberon
        </label>
        </div>
        <div class="button-container">
        <button @click="startRoleReveal" :disabled="!allPlayersNamed">Start Role Reveal</button>
        </div>
        </div>
        </script>
    </body>
</html>
