body {
    font-family: monospace;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    max-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
h1, h2, h3 {
    text-align: center;
}
.player {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.players-role-revealed {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    line-height: 1.6;
    font-size: 1em;
}
.player.selected {
    background-color: #e0e0e0;
}
.checkboxes-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.mission-results-container {
    display: flex;
    justify-content: space-between;
    padding: 2vmin;
    flex-wrap: wrap;
}
.mission {
    display: flex;
    width: 15vmin;
    height: 15vmin;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10vmin;
    margin: 2vmin;
    border-radius: 2vmin;
}
.mission-pending {
    background-color: lightgray;
}
.mission-fail {
    background-color: tomato; 
}
.mission-pass {
    background-color: lightgreen;
}
.mission-result-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;
}
.box {
    width: 15vmin;
    height: 15vmin;
    margin: 5px 0;
    border-radius: 5px;
}
.blue {
    background-color: lightgreen;
}
.red {
    background-color: tomato;
}
.button-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    width: 100%;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6c757d; /* neutral color */
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.role-reveal {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}
.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corner-badge {
    position: absolute;
    top: 10px;
    display: inline-block;
    color: #fff;
    background-color: #24292e;
    border-radius: 50%;
    padding: 5px;
    text-decoration: none;
}

.corner-badge svg {
    fill: white;
    vertical-align: middle;
}

.corner-badge:hover {
    background-color: #444;
}

.corner-badge.left {
    left: 10px;
}
.corner-badge.right {
    right: 10px;
}
input[type="number"], input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
label {
    font-size: 16px;
    margin-bottom: 5px;
}
@media (max-width: 600px) {
    .mission {
        width: 12vmin;
        height: 12vmin;
        font-size: 5vmin;
    }
    .box {
        width: 15vmin;
        height: 15vmin;
    }
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
    input[type="number"], input[type="text"] {
        padding: 8px;
        font-size: 14px;
    }
}
